/* latin */
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(http://www.hominem.se/static/fonts/Michroma.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.navbar-collapse.collapse{
    display: block !important;
}

.navbar-nav>li, .navbar-nav{
    float: left !important;
}

.navbar-nav.navbar-right:last-child{
    margin-right: -15px !important;
}

.navbar-right{
    float: right !important;
}

.navbar .navbar-nav {
    display:inline-block;
    float: none;
    text-align: center;
}

h1, .h1 {
    font-family: 'Michroma';
}