.navbar-collapse.collapse{
    display: block !important;
}

.navbar-nav>li, .navbar-nav{
    float: left !important;
}

.navbar-nav.navbar-right:last-child{
    margin-right: -15px !important;
}

.navbar-right{
    float: right !important;
}

.navbar .navbar-nav {
    display:inline-block;
    float: none;
    text-align: center;
}

h1, .h1 {
    font-family: 'Michroma';
}