{% extends "base.html" %}
{% block title %} Latest videos and podcasts{% endblock %}
{% comment %}
{% block menu %}
<ul class="nav nav nav-tabs nav-justified">
  <li role="presentation" ><a href="{% url 'you2rss:latest' %}">Latest</a></li>
  <li role="presentation" class="active"><a href="{% url 'you2rss:channels' %}">Channels</a></li>    
  <li role="presentation" ><a href="{% url 'you2rss:podcasts' %}">Podcasts</a></li>
  {% if user.is_authenticated %}
  <li role="presentation"><a href="{% url 'you2rss:logout' %}?next=/you2rss/latest">Logout</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'you2rss:login' %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}
{% endcomment %}

{% block content %}
{% if user.is_authenticated %}

  <center>
    <h1>Available channels</h1>
    <a href="{% url 'you2rss:opml' %}"> OPML</a>
</center>
<div class="container">
  <p>
    <div class="table-responsible">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Title</th>
                <th>Videos</th>
                <th>Latest</th>
                <th>Feed</th>
            </tr>
            {% for channel in latest_channel_list %}
                <tr>
                    <td>
                        <a title="YouTube channel name" href="{% url 'you2rss:videoperchannel' channel.channel_id %}">{{ channel.title_text }}</a>
                    </td>
                    <td> <div title="{{ channel.video_set.all|length }} videos released">{{ channel.video_set.all|length }} </div></td>
                    <td> <div title="Latest video released {{ channel.latest_video|timesince }} ago"> {{ channel.latest_video|timesince }}  </div></td>
                    <td>
                        <a class="btn btn-primary btn-xs" target="_blank" type="application/rss+xml" title="Download RSS feed for channel"
                           href="{% url 'you2rss:rssvideoperchannel' channel.channel_id %}">RSS</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </p>
</div>
 {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'you2rss:login' %}">
 {% endif %}
{% endblock %}







