{% extends "base.html" %}
{% block title %} Latest videos and podcasts{% endblock %}

{% comment %}
{% block menu %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-header pull-right">
    <ul class="nav navbar-nav">
      <li class="active"><a title="Latest videos and podcasts" href="{% url 'you2rss:latest' %}"><i class="glyphicon glyphicon-time"></i></a></li>
      <li><a title="Channels" href="{% url 'you2rss:channels' %}"><i class="glyphicon glyphicon-film"></i></a></li>
      <li><a title="Podcasts" href="{% url 'you2rss:podcasts' %}"><i class="glyphicon glyphicon-volume-up"></i></a></li>    
      {% if user.is_authenticated %}
      <li><a title="Logout" href="{% url 'you2rss:logout' %}?next=/you2rss/latest"><i class="glyphicon glyphicon-user"></i></a></li>     
      {% else %}
      <li><a title="Login" href="{% url 'you2rss:login' %}"><i class="glyphicon glyphicon-user"></i></a></li>     
      {% endif %}
    </ul>
  </div>
</div>
{% endcomment %}
    {% comment %}
<div class="container">
  <nav class="navbar navbar-default navbar-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a title="Latest videos and podcasts" href="{% url 'you2rss:latest' %}"><i class="glyphicon glyphicon-bell"></i></a></li>
        <li><a title="Channels" href="{% url 'you2rss:channels' %}"><i class="glyphicon glyphicon-bell"></i></a></li>
        <li><a title="Podcasts" href="{% url 'you2rss:podcasts' %}"><i class="glyphicon glyphicon-bell"></i></a></li>

        <li><a title="Logout" href="{% url 'you2rss:logout' %}"><i class="glyphicon glyphicon-user"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
{% endcomment %}
{% comment %}
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
  <li role="presentation" class="active"><a href="{% url 'you2rss:latest' %}">Latest</a></li>
  <li role="presentation"><a href="{% url 'you2rss:channels' %}">YT</a></li>    
  <li role="presentation" ><a href="{% url 'you2rss:podcasts' %}">Pod</a></li>
  {% if user.is_authenticated %}
  <li role="presentation"><a href="{% url 'you2rss:logout' %}?next=/you2rss/latest">Logout</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'you2rss:login' %}">Login</a></li>
  {% endif %}
  </div>
</nav>
{% endblock %}
{% endcomment %}

{% block content %}
{% if user.is_authenticated %}

  {% if pod_list %}
   {% load you2rss_extras %}
<div class="container">
  <center>
    <h1>Latest</h1>
  </center>
</div>
<div class="container">
  <center>        <p><h5>The lastest 200 posted videos and podcasts, order by date</h5></p> </center>
</div>
<div class="container">
  <p>
    <!--          <div class="table-responsive">  -->
    <table class="table table-condensed">
      <tr>
        <!-- <th>#</th> -->
        <th>Title</th>
        <th>Source</th>
        <th>Age</th>
      </tr>
      {% for pod in pod_list %}
      {% if pod.audio_link %}
      <tr class="active">
        <!-- <td>{{ forloop.counter }}</td> -->
        <td><a title="Download podcast audio file" href="{{ pod.audio_link }}">{{ pod.title_text }}</a> </td>
        <td><a title="Visit podcast page for episode" href="{{ pod.http_link }}">{{ pod.podcast.title_text }}</a> </td>
        <td><div title="Podcast released {{ pod.pub_date|timesince }} ago"> {{ pod.pub_date|timesince }}</div></td>
      </tr>
      {% endif %}
      {% if pod.video_id %}
      <tr> 
        <!-- <td>{{ forloop.counter }}</td> -->
        <td><a title="Download audio file for YouTube video" href="{% url 'you2rss:rssfile' pod.video_id %}"> {{ pod.title_text }} </a></td>
        <td><a title="Watch video on YouTube" href="http://www.youtube.com/watch?v={{ pod.video_id }}">{{ pod.channel.title_text }} </a></td>
        <td><div title="Video published {{ pod.pub_date|timesince }} ago">{{ pod.pub_date|timesince }} </div></td>
      </tr>                        
      {% endif %}                        
      {% endfor %}
    </table>
    <!-- </div>   -->
  </p>
</div>
 {% else %}
 <p>No pods are available.</p>
 {% endif %}
 {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'you2rss:login' %}">
 {% endif %}
{% endblock %}





