{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en">
<head>
    <title>You2RSS podcasts</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="initial-scale=1.0,width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/you2rss.css' %}">
</head>
<body>
  <ul class="nav nav nav-tabs nav-justified">
    <li role="presentation" ><a href="{% url 'you2rss:latest' %}">Latest</a></li>
    <li role="presentation"><a href="{% url 'you2rss:channels' %}">Channels</a></li>    
    <li role="presentation" class="active" ><a href="{% url 'you2rss:podcasts' %}">Podcasts</a></li>
</ul>
<center>
    <h1>Available podcasts</h1>
    <a href="{% url 'you2rss:opml' %}"> OPML</a>
</center>
<div class="container">
  <p>
    <div class="table-responsible">
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Podcasts</th>
                <th>Latest</th>
                <th>Feed</th>
            </tr>
            {% for podcast in latest_podcast_list %}
                <tr>
                    <td>
                        <a href="{% url 'you2rss:podperpodcast' podcast.id %}">{{ podcast.title_text }}</a>
                    </td>
                    <td> {{ podcast.pod_set.all|length }}</td>
                    <td> {{ podcast.latest_pod|timesince }} </td>
                    <td>
                        <a class="btn btn-primary" target="_blank" type="application/rss+xml"
                           href="{{ podcast.rss_link }}">RSS</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </p>
</div>
</body>
</html>







