{% extends "base.html" %}
{% block title %} You2RSS podcasts {% endblock %}
{% block menu %}

<ul class="nav nav nav-tabs nav-justified">
  <li role="presentation" ><a href="{% url 'you2rss:latest' %}">Latest</a></li>
  <li role="presentation"><a href="{% url 'you2rss:channels' %}">Channels</a></li>    
  <li role="presentation" class="active" ><a href="{% url 'you2rss:podcasts' %}">Podcasts</a></li>
  {% if user.is_authenticated %}
  <li role="presentation"><a href="{% url 'you2rss:logout' %}?next=/you2rss/latest">Logout</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'you2rss:login' %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<center>
    <h1>Available podcasts</h1>
    <a href="{% url 'you2rss:opml' %}"> OPML</a>
</center>
<div class="container">
  <p>
    <div class="table-responsible">
        <table class="table table-condensed table-striped">
            <tr>
                <th>Title</th>
                <th>Podcasts</th>
                <th>Latest</th>
                <th>Feed</th>
            </tr>
            {% for podcast in latest_podcast_list %}
                <tr>
                    <td>
                        <a title="See all released episodes" href="{% url 'you2rss:podperpodcast' podcast.id %}">{{ podcast.title_text }}</a>
                    </td>
                    <td><div title="{{ podcast.num_pobs }} episodes released"> {{ podcast.num_pobs }}</div></td>
                    <td><div title="Latest episode was released {{ podcast.latest_pod|timesince }} ago"> {{ podcast.latest_pod|timesince }}</div></td>
                    <td>
                        <a class="btn btn-primary btn-xs" target="_blank" type="application/rss+xml" title="Download RSS feed for podcast"
                           href="{{ podcast.rss_link }}">RSS</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
 {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'you2rss:login' %}">
 {% endif %}
{% endblock %}







