{% extends "base.html" %}
{% block title %} {{ podcast_title }} {% endblock %}
{% block menu %}
<ul class="nav nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'you2rss:latest' %}">Latest</a></li>
  <li role="presentation"><a href="{% url 'you2rss:channels' %}">Channels</a></li>    
  <li role="presentation" class="active" ><a href="{% url 'you2rss:podcasts' %}">Podcasts</a></li>
  {% if user.is_authenticated %}
  <li role="presentation"><a href="{% url 'you2rss:logout' %}?next=/you2rss/latest">Logout</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'you2rss:login' %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if pod_list %}
    {% load you2rss_extras %}
    <div class="container">
        <center>
            <h1>{{ podcast_title }}</h1>
            <img src="{{ podcast_thumb }}" height="200" width="200">
        </center>
    </div>
    <div class="container">
        <p><h5>{{ description }}</h5></p>
    </div>
    <div class="container">
        <p>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
                {% for pod in pod_list %}
                    <tr>

                        <td><a title="Visit podcast page for episode" href="{{ pod.http_link }}">{{ pod.pub_date|date:"M d Y" }}</a></td>
                        <td><a title="Download podcast audio file" href="{{ pod.audio_link }}">{{ pod.title_text }}</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        </p>
    </div>
{% else %}
    <p>No pods are available.</p>
{% endif %}
 {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'you2rss:login' %}">
 {% endif %}
{% endblock %}
















