{% extends "base.html" %}
{% block title %} {{ channel_title }} {% endblock %}
{% block menu %}
<ul class="nav nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'you2rss:latest' %}">Latest</a></li>
  <li role="presentation" class="active"><a href="{% url 'you2rss:channels' %}">Channels</a></li>    
  <li role="presentation" ><a href="{% url 'you2rss:podcasts' %}">Podcasts</a></li>
  {% if user.is_authenticated %}
  <li role="presentation"><a href="{% url 'you2rss:logout' %}?next=/you2rss/latest">Logout</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'you2rss:login' %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

  {% if video_list %}
    {% load you2rss_extras %}
    <div class="container">
        <center>
            <h1>{{ channel_title }}</h1>
            <img src="{{ channel_thumb }}" height="200" width="200">
        </center>
    </div>
    <div class="container">
        <p><h5>{{ description }}</h5></p>
    </div>
    <div class="container">
        <p>
        <div class="table-responsible">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Start</th>
                </tr>
                {% for video in video_list %}
                    <tr>

                        <td><div title="Video published date"> {{ video.pub_date|date:"M d Y" }}</div></td>
                        <td><a title="Watch video on YouTube" href="http://www.youtube.com/watch?v={{ video.video_id }}">{{ video.title_text }}</a>
                        </td>
                        {% if video.video_id|video_exists %}
                            <td><a title="Access the audio file" class="btn btn-default btn-xs" href="{% url 'you2rss:file' video.video_id %}">File</a></td>
                        {% else %}
                            <td><a title="Start download of audio" class="btn btn-primary btn-xs" href="{% url 'you2rss:startdownload' video.video_id %}"
                                   onclick="return true;">Download</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        </p>
    </div>
{% else %}
    <p>No channels are available.</p>
{% endif %}

 {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'you2rss:login' %}">
 {% endif %}
{% endblock %}



